{% extends '_layout' %}

{% set blocks = entry.pageBuilder.all() %}
{% block content %}

{% if blocks|length %}
  <ul>
    {% for block in blocks %}
        {% set blockType = block.type.handle %}
        
        {% if blockType == 'columnText1' %}
            <div class="content-block text">
                {{ block.text }}
            </div>
        {% elseif blockType == 'columnText5050' %}
            <div class="content-block text">
                {{ block.text1 }}
            </div>
            <div class="content-block text">
                {{ block.text2 }}
            </div>
        {% endif %}
        <li>{{ block.type }}</li>
    {% endfor %}
  </ul>
{% endif %}


{% endblock %}